In [1]:
import re
import os
import pandas as pd
import numpy as np
import traceback2

where_map = {}
# pairs regexp: "\[([a-zA-z0-9$\-+œÑ\.%]*)\]-", "-\[([a-zA-z0-9$\-+œÑ]*)\]"

In [2]:
sm = {
    "WBTC" : "BTC",
    "WETH" : "ETH",
    "WBNB" : "BNB",
    "WFTM" : "FTM",
    "WAVAX" : "AVAX",
}

In [3]:
def pair1(line):
    try:
        is_3_pairs = line.split("]-[")
        if len(is_3_pairs) > 2:
            return None
        s_index = line.index("[") + 1
        s = line[s_index: line.index("]", s_index)]
        if all(ord(c) < 128 for c in s):
            return s
        else:
            print(line)
            return None
    except:
        return None

def pair2(line):
    s_index = line.index("-[") + 3
    s = line[s_index: line.index("]", s_index)]
    if all(ord(c) < 128 for c in s):
        return s
    else:
        print(line)
        return None

In [4]:
def apr(line):
    apr = "Year [0-9\,\.]+\%"
    x = re.findall(apr, line)
    return x[0].replace("Year ", "").replace("%", "").strip() if len(x) else 0

In [5]:
def tvl(line):
    tvl = "TVL: \$[0-9\.\,]+"
    x = re.findall(tvl, line)
    return x[0].replace("TVL: $", "").replace("%", "").replace(",","").strip()

In [6]:
def where(line):
    if 'INFO' in line:
        return line.replace("INFO", "").replace('\n', '').replace(":", "").replace("//", "://").strip()
    return None

In [7]:
def get_single_pair(line):
    exp = "\d* *.*Price:"
    x = re.findall(exp, line)
    if not len(x):
#         print(">>>>>>>>>>>",line)
        return
    pair = x[0].replace(" Price:", "")
    return pair[pair.rindex(" "):].strip() if " " in pair else pair

def get_single_tvl(line):
    exp = "\([0-9\,\.$]+\)"
    x = re.findall(exp, line)
    return x[0].replace("(", "").replace(")", "").replace("$", "").replace(",","").strip()

In [8]:
def read_blocks_from_files(file):
    f = open(file)
    lines = f.readlines()
    blocks = []
    block = []
    for line in lines:
        line = line.strip()
        if line == "" or len(re.findall("INFO[ ]+: ", line)):
            blocks.append(block)
            if len(line):
                blocks.append([line])
            block = []
        else:
            block.append(line)
    blocks.append(block)
    return blocks

def get_pair_info_from_block(block, wh, network):
    if len(block) == 1:
        if 'INFO' in block[0]:
            return [where(block[0])]
        else:
            return [wh]
    if len(block) and pair1(block[0]):
        apr_index = -1
        for index in range(1, len(block)):
            if 'APR: ' in block[index]:
                apr_index = index
                break
        return [pair1(block[0]), pair2(block[0]), tvl(block[0]), apr(block[apr_index]) if apr_index > 1 else 0, where_map[wh] if wh in where_map else wh, network]
    elif len(block) > 2 and get_single_pair(block[0]):
        apr_index = -1
        for index in range(1, len(block)):
            if 'APR: ' in block[index]:
                apr_index = index
                break
        return [get_single_pair(block[0]), "", get_single_tvl(block[1]), apr(block[apr_index]) if apr_index > 1 else 0, where_map[wh] if wh in where_map else wh, network]
        
    return None


def get_pairs(blocks, network):
    where = ""
    pairs = []
    for block in blocks:
        try:
            pair = get_pair_info_from_block(block, where, network)
            if len(where) == 0 and pair and len(pair) > 2:
                print(block, network)
            if pair:
                if len(pair) == 1 and pair[0] and len(pair[0]):
                    where = pair[0]
                else:
                    pairs.append(pair)
        except Exception:
            print(block[0])
    return pairs

In [42]:
data_dir = 'vfat_tool_data/2021-06-07_set/'
ignorable_files = ['.ipynb_checkpoints', "Yield Farm Manual 6:7 New .xlsx"]
def conver_files_to_one_df(data_dir):
    all_pairs = []
    files = os.listdir(data_dir)
    for file_name in files:
        if file_name in ignorable_files:
            continue
        network = file_name[0:file_name.index(" ")]
        if 'Alternate' != network:
            continue
        blocks = read_blocks_from_files(f"{data_dir}{file_name}")
        pairs = get_pairs(blocks, network)
        all_pairs.extend(pairs)
    return all_pairs

In [43]:
pairs = conver_files_to_one_df(data_dir)

[üêü]-[WETH] Uni LP [+] [-] [<=>] Price: $502.31 TVL: $179,862.69
[üêü]-[WETH] Uni LP [+] [-] [<=>] Price: $502.31 TVL: $179,862.69
[üêü]-[USDC] Uni LP [+] [-] [<=>] Price: $152,963,650.25 TVL: $49,697.90
[üêü]-[USDC] Uni LP [+] [-] [<=>] Price: $152,963,650.25 TVL: $49,697.90
[‚õ©Ô∏è]-[üêü] Uni LP [+] [-] [<=>] Price: $5.77 TVL: $40,624.01
[‚õ©Ô∏è]-[üêü] Uni LP [+] [-] [<=>] Price: $5.77 TVL: $40,624.01

In [44]:
pair_df = pd.DataFrame(pairs, columns=['pair1', 'pair2', 'tvl', 'apr', 'where', 'network'])
pair_df['apy'] = np.nan

In [45]:
pairs

[['UNI',
  '',
  '63387.82',
  '129.84',
  'https://penguinswap.eth.link',
  'Alternate'],
 ['BTCx5-USDC-1Jun21-LP',
  '',
  '1081817.32',
  '382.02',
  'https://app.compli.fi',
  'Alternate'],
 ['BTCx5-USDC-1Jun21-UP',
  '',
  '28785.49',
  '7178.55',
  'https://app.compli.fi',
  'Alternate'],
 ['BTCx5-USDC-1Jun21-DOWN',
  '',
  '55735.03',
  '3707.51',
  'https://app.compli.fi',
  'Alternate'],
 ['ETHx5-USDC-1Jun21-LP',
  '',
  '195994.73',
  '2108.61',
  'https://app.compli.fi',
  'Alternate'],
 ['ETHx5-USDC-1Jun21-UP',
  '',
  '250968.95',
  '823.36',
  'https://app.compli.fi',
  'Alternate'],
 ['ETHx5-USDC-1Jun21-DOWN',
  '',
  '282262.74',
  '732.08',
  'https://app.compli.fi',
  'Alternate'],
 ['LINKx5-USDC-1Jun21-LP',
  '',
  '49187.59',
  '8402.05',
  'https://app.compli.fi',
  'Alternate'],
 ['LINKx5-USDC-1Jun21-UP',
  '',
  '3824.53',
  '54029.73',
  'https://app.compli.fi',
  'Alternate'],
 ['LINKx5-USDC-1Jun21-DOWN',
  '',
  '0.00',
  0,
  'https://app.compli.fi',
  'Alternate'],
 ['UNIx5-USDC-1Jun21-LP',
  '',
  '54504.18',
  '7582.47',
  'https://app.compli.fi',
  'Alternate'],
 ['UNIx5-USDC-1Jun21-UP',
  '',
  '10889.58',
  '18975.78',
  'https://app.compli.fi',
  'Alternate'],
 ['UNIx5-USDC-1Jun21-DOWN',
  '',
  '5616.70',
  '36789.97',
  'https://app.compli.fi',
  'Alternate'],
 ['COMFI',
  'ETH',
  '1210851.39',
  '10108.96',
  'https://app.compli.fi',
  'Alternate']]

In [13]:
pair_df

,pair1,pair2,tvl,apr,where,network,apy
0,WFTM,CE,3425040.24,219.04,https://popsicle.finance,FATOM,NaN
1,WFTM,CE,3032060.91,239.93,https://popsicle.finance,FATOM,NaN
2,ICE,,155258.78,0.00,https://popsicle.finance,FATOM,NaN
3,WFTM,CE,3425040.24,0.00,https://popsicle.finance,FATOM,NaN
4,fUSDT+DAI+USDC,,27704.13,0.00,https://popsicle.finance,FATOM,NaN
...,...,...,...,...,...,...,...
2563,FUSE,SDC,78652.58,279.02,https://fuse.io,ETH,NaN
2564,FUSE,ETH,1025341.98,129.89,https://fuse.io,ETH,NaN
2565,WILD,ETH,895056.11,1700.00,https://wild.credit,ETH,NaN
2566,SPELL,ETH,12514487.48,195.06,https://abracadabra.money,ETH,NaN
2567,MIM-3LP3CRV-f,,91396707.50,49.48,https://abracadabra.money,ETH,NaN

In [14]:
pair_df[(pair_df['pair1'] == 'uUNICLY') | (pair_df['pair2'] == 'uARTBLOCKS')]

,pair1,pair2,tvl,apr,where,network,apy
2551,uUNICLY,ETH,353586.53,689.89,https://www.app.unic.ly/#/farm,ETH,NaN

In [15]:
sheet_pairs_df = pd.read_csv('MATIC 6_1 New.csv')
eth_sheet_pairs_df = pd.read_csv('eth_net_pairs.csv')
eth_sheet_pairs_df.columns=['pair1', 'pair2', 'tvl', 'where', 'apr']
eth_sheet_pairs_df['apy'] = np.nan
eth_sheet_pairs_df['network'] = 'ETH'
sheet_pairs_df = sheet_pairs_df.append(eth_sheet_pairs_df)

In [16]:
# sheet_pairs_df

In [17]:
def update_apr(apr):
    apr = f"{apr}".replace("%", "")
    if len(apr) == 0 or "nan" == apr:
        return np.nan
    else:
        return apr

In [18]:
pair_df = pair_df.append(sheet_pairs_df).reset_index(drop=True)
pair_df['apr'] = pair_df['apr'].apply(lambda x: update_apr(x))
pair_df['pair1'] = pair_df['pair1'].apply(lambda x: sm[x.strip()] if x.strip() in sm else x.strip())
pair_df['pair2'] = pair_df['pair2'].apply(lambda x: sm[x.strip()] if x.strip() in sm else x.strip())

In [19]:
pair_df

,pair1,pair2,tvl,apr,where,network,apy
0,FTM,CE,3425040.24,219.04,https://popsicle.finance,FATOM,NaN
1,FTM,CE,3032060.91,239.93,https://popsicle.finance,FATOM,NaN
2,ICE,,155258.78,0.00,https://popsicle.finance,FATOM,NaN
3,FTM,CE,3425040.24,0.00,https://popsicle.finance,FATOM,NaN
4,fUSDT+DAI+USDC,,27704.13,0.00,https://popsicle.finance,FATOM,NaN
...,...,...,...,...,...,...,...
2967,UMB,ETH,"92,513.56",120.61,SUSHI,ETH,NaN
2968,MOVE,ETH,"763,577.19",29.23,SUSHI,ETH,NaN
2969,LEV,ETH,"235,399.41",18.96,SUSHI,ETH,NaN
2970,ETH,MLN,"3,445,685.39",64.77,SUSHI,ETH,NaN
2971,RULER,ETH,"151,403.19",176.88,SUSHI,ETH,NaN

In [20]:
# pair_df['apr'].unique().tolist()

In [21]:
def convert_apr_to_apy(pair_df):
    tmp_df = pair_df[pair_df['apy'].isna()]
    print(tmp_df.shape)
    for index, row in tmp_df.iterrows():
        apr = row['apr']
        if apr:
            apr = float(apr.replace(',',''))
        else:
            apr = 0
        try:
            pair_df.loc[index, 'apy'] = ((1+(apr/100)/365)**365-1)*100
        except:
            pair_df.loc[index, 'apy'] = np.nan
    return
            
def convert_apy_to_apr(pair_df):
    tmp_df = pair_df[(pair_df['apr'].isnull())]
    print(tmp_df.shape)
    for index, row in tmp_df.iterrows():
        apy = row['apy']
        if apy:
            apy = float(apy.replace(',',''))
        else:
            apy = 0
        try:
            pair_df.loc[index, 'apr'] = (((1+(apy/100))**(1/365)-1)*365)*100
        except:
            pair_df.loc[index, 'apr'] = np.nan
    return


convert_apr_to_apy(pair_df)
convert_apy_to_apr(pair_df)

(2795, 7)
(98, 7)

In [22]:
pair_df[pair_df['apy'].isna()]

,pair1,pair2,tvl,apr,where,network,apy
74,CREAM,,0.00,26607271.15,https://ftm.borgswap.exchange,FATOM,NaN
1120,MOONTREE,BEAR,35.21,60083983518.52,https://www.ybearswap.finance,BSC,NaN
2405,USDT,,7279.01,602183.35,https://www.bigdataprotocol.com/datavault,ETH,NaN
2406,USDC,,1022.71,4285970.71,https://www.bigdataprotocol.com/datavault,ETH,NaN
2422,USDC,,49.89,4006328.11,https://app.sirenmarkets.com/stake,ETH,NaN

In [39]:
pair_df[pair_df['apr'].isna()]

Empty DataFrame
Columns: [pair1, pair2, tvl, apr, network, apy, dex]
Index: []

In [24]:
single_piar_df = pair_df[pair_df['pair2'] == ""].copy()
double_coin_pair_df = pair_df[pair_df['pair2'] != ""].copy()
tmp_df = double_coin_pair_df.copy()

In [25]:
single_piar_df

,pair1,pair2,tvl,apr,where,network,apy
2,ICE,,155258.78,0.00,https://popsicle.finance,FATOM,0.0
4,fUSDT+DAI+USDC,,27704.13,0.00,https://popsicle.finance,FATOM,0.0
26,BOO,,6500141.14,173.58,https://spookyswap.finance,FATOM,465.017004
27,SPIRIT,,5042230.23,78.69,https://app.spiritswap.finance,FATOM,119.471672
62,SON,,17306.81,195.10,https://ftm.borgswap.exchange,FATOM,599.925881
...,...,...,...,...,...,...,...
2540,LUSD3CRV-f,,116096081.26,0,https://www.convexfinance.com,ETH,0.0
2541,BUSD3CRV-f,,107458575.00,0,https://www.convexfinance.com,ETH,0.0
2542,alUSD3CRV-f,,259099840.38,0,https://www.convexfinance.com,ETH,0.0
2562,LEV,,139011.07,253.14,https://lever.network,ETH,1146.172956
2567,MIM-3LP3CRV-f,,91396707.50,49.48,https://abracadabra.money,ETH,63.962068

In [26]:
double_coin_pair_df

,pair1,pair2,tvl,apr,where,network,apy
0,FTM,CE,3425040.24,219.04,https://popsicle.finance,FATOM,788.046372
1,FTM,CE,3032060.91,239.93,https://popsicle.finance,FATOM,992.931446
3,FTM,CE,3425040.24,0.00,https://popsicle.finance,FATOM,0.0
5,FTM,OO,10163940.14,200.84,https://spookyswap.finance,FATOM,641.047552
6,fUSDT,FTM,3371622.58,95.02,https://spookyswap.finance,FATOM,158.303566
...,...,...,...,...,...,...,...
2967,UMB,ETH,"92,513.56",120.61,SUSHI,ETH,233.379625
2968,MOVE,ETH,"763,577.19",29.23,SUSHI,ETH,33.934813
2969,LEV,ETH,"235,399.41",18.96,SUSHI,ETH,20.870649
2970,ETH,MLN,"3,445,685.39",64.77,SUSHI,ETH,91.004347
2971,RULER,ETH,"151,403.19",176.88,SUSHI,ETH,483.881561

In [27]:
tmp_df

,pair1,pair2,tvl,apr,where,network,apy
0,FTM,CE,3425040.24,219.04,https://popsicle.finance,FATOM,788.046372
1,FTM,CE,3032060.91,239.93,https://popsicle.finance,FATOM,992.931446
3,FTM,CE,3425040.24,0.00,https://popsicle.finance,FATOM,0.0
5,FTM,OO,10163940.14,200.84,https://spookyswap.finance,FATOM,641.047552
6,fUSDT,FTM,3371622.58,95.02,https://spookyswap.finance,FATOM,158.303566
...,...,...,...,...,...,...,...
2967,UMB,ETH,"92,513.56",120.61,SUSHI,ETH,233.379625
2968,MOVE,ETH,"763,577.19",29.23,SUSHI,ETH,33.934813
2969,LEV,ETH,"235,399.41",18.96,SUSHI,ETH,20.870649
2970,ETH,MLN,"3,445,685.39",64.77,SUSHI,ETH,91.004347
2971,RULER,ETH,"151,403.19",176.88,SUSHI,ETH,483.881561

In [28]:
tmp_df['tmp'] = tmp_df['pair1']
tmp_df['pair1'] = tmp_df['pair2']
tmp_df['pair2'] = tmp_df['tmp']
del tmp_df['tmp']

In [29]:
double_coin_pair_df.append(tmp_df).sort_values(['pair1', 'pair2']).reset_index(drop=True)

,pair1,pair2,tvl,apr,where,network,apy
0,$DG,ETH,738323.48,95.76,https://quickswap.exchange/#/quick,MATIC,160.217083
1,$DG,QUICK,316608,93.335541,Quickswap,MATIC,154
2,$DG,UICK,308739.68,84.77,https://quickswap.exchange/#/quick,MATIC,133.197872
3,1INCH,BNB,1989.49,345.67,https://icecreamswap.finance,BSC,3020.050963
4,1INCH,BNB,12710.23,291.04,http://mangofarm.finance,BSC,1715.340213
...,...,...,...,...,...,...,...
4323,ycVT,umcha,13424.62,746.51,https://yumcha.finance,BSC,161835.925603
4324,yumcha,USD,58290.00,863.91,https://yumcha.finance,BSC,510640.49136
4325,yvBOOST,ETH,"22,005,820.00",50.71,SUSHI,ETH,65.988457
4326,zLOT,ETH,"54,701.00",40.80,SUSHI,ETH,50.346454
4327,zTears,SPIRIT,43240.61,249.17,https://app.spiritswap.finance,FATOM,1097.994043

In [30]:
pair_df = double_coin_pair_df.append(tmp_df).sort_values(['pair1', 'pair2']).reset_index(drop=True)
pair_df = single_piar_df.append(pair_df).sort_values(['pair1', 'pair2']).reset_index(drop=True)

In [31]:
pair_df

,pair1,pair2,tvl,apr,where,network,apy
0,$DG,ETH,738323.48,95.76,https://quickswap.exchange/#/quick,MATIC,160.217083
1,$DG,QUICK,316608,93.335541,Quickswap,MATIC,154
2,$DG,UICK,308739.68,84.77,https://quickswap.exchange/#/quick,MATIC,133.197872
3,1INCH,,0.00,0,https://caramelswap.finance,BSC,0.0
4,1INCH,BNB,1989.49,345.67,https://icecreamswap.finance,BSC,3020.050963
...,...,...,...,...,...,...,...
5131,yumcha,,0.00,0,https://yumcha.finance,BSC,0.0
5132,yumcha,USD,58290.00,863.91,https://yumcha.finance,BSC,510640.49136
5133,yvBOOST,ETH,"22,005,820.00",50.71,SUSHI,ETH,65.988457
5134,zLOT,ETH,"54,701.00",40.80,SUSHI,ETH,50.346454
5135,zTears,SPIRIT,43240.61,249.17,https://app.spiritswap.finance,FATOM,1097.994043

In [32]:
pair_df = pair_df.drop_duplicates()

In [33]:
pair_df['dex'] = pair_df['where']
del pair_df['where']

<ipython-input-33-2bf09cd45164>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pair_df['dex'] = pair_df['where']

In [34]:
pair_df.to_csv('vfat_tools_data.csv')

In [35]:
pair_df['dex'].unique().tolist()

['https://quickswap.exchange/#/quick',
 'Quickswap',
 'https://caramelswap.finance',
 'https://icecreamswap.finance',
 'http://mangofarm.finance',
 'https://absorber.finance',
 'https://www.convexfinance.com',
 'https://ellipsis.finance',
 'https://frozenyogurt.finance',
 'https://beta.belt.fi',
 'https://blue.planetfinance.io',
 'https://polygaj.finance',
 'https://www.polycake.finance',
 'https://polylion.exchange',
 'https://www.moonwolf.io',
 'https://polygold.finance',
 'https://polypingu.finance',
 'https://polygon.prismfinance.net',
 'https://www.bigdataprotocol.com/datavault',
 'https://app.pangolin.exchange/#/png',
 'PolyCat',
 'Dfyn',
 'SUSHI',
 'Sushi',
 'https://app.elk.finance',
 'PolyZap',
 'Polylion',
 'PolyCake',
 'PolyGold',
 'https://www.knightsdefi.com',
 'hhttps://taco.finance/',
 'https://swipe.org/farm',
 'https://koaladefi.finance/',
 'https://app.hyruleswap.com',
 'https://limeswap.io',
 'https://vanillacake.farm',
 'https://garudaswap.finance',
 'https://gocerberus.finance',
 'https://ketchupfinance.com',
 'https://TheKongFinance.com',
 'https://pancakeswap.finance',
 'https://pool.mochiswap.io',
 'https://thelab.finance',
 'https://app.apache.finance/',
 'https://zombie-farm.com',
 'https://coinswap.space/',
 'https://gatorswap.xyz',
 'https://ten.finance',
 'https://frankenstein.finance',
 'https://app.treedefi.com',
 'https://app.wault.finance',
 'Cometh',
 'https://spookyswap.finance',
 'https://waka.finance',
 'https://polycat.finance',
 'https://armor.fi',
 'https://pandaswap.exchange',
 'https://ftm.borgswap.exchange',
 'https://hyperjump.fi',
 'https://www.liquiddriver.finance',
 'https://klondike.finance',
 'https://olympusdao.eth.link/',
 'https://app.spiritswap.finance',
 'https://swap.cometh.io/#/stake',
 'https://app.sushi.com',
 'https://farm.polyzap.finance',
 'https://southpark.finance/',
 'https://www.bakeryswap.org',
 'https://squirrel.finance',
 'https://www.ybearswap.finance',
 'https://mars.cosmos.farm',
 'https://pastafinance.com',
 'https://app.alchemix.fi/farms',
 'https://app.sponge.finance',
 'https://aluna.social/farm',
 'https://app.bami.money',
 'https://farm.unicrypt.network',
 'https://elk.finance',
 'https://www.app.unic.ly/#/farm',
 'https://marshmallowdefi.com',
 'https://bsc.sashimi.cool/',
 'https://nft20.io',
 'https://fanaticsfinance.com',
 'https://cafeswap.finance',
 'https://www.alchemistdefi.com',
 'https://muscle.finance',
 'https://www.coralfarm.finance/',
 'https://avax.olive.cash',
 'https://www.lydia.finance',
 'https://app.canary.exchange/',
 'https://avme.io',
 'https://app.gondola.finance',
 'https://penguinfinance.org',
 'Elk',
 'https://bsc.complus.exchange',
 'https://exchange.yetiswap.app',
 'https://lazymint.finance',
 'https://dragonballfinance.org',
 'https://yieldfields.finance',
 'https://floatprotocol.com/#/stake',
 'https://app.lift.kitchen',
 'https://www.piedao.org',
 'https://bundledao.org',
 'https://wantanmee.finance',
 'https://pizzafinance.app',
 'https://longdrink.finance',
 'https://fulcrum.trade',
 'https://www.proofofhumanity.id',
 'https://www.wardenswap.finance',
 'https://www.saltswap.finance/',
 'https://farm.space',
 'https://thunderswap.finance',
 'https://plumcake.finance',
 'https://farms.tinville.finance',
 'https://bsc.prismfinance.net',
 'https://tea-swap-app.finance',
 'https://werewolf.farm',
 'https://tsuki.finance',
 'https://biswap.org',
 'https://satis.finance',
 'https://www.pinkswap.finance',
 'https://privacyswap.finance',
 'https://friction.finance',
 'https://eggplant.fi',
 'https://eleven.finance',
 'https://app.feeder.finance',
 'https://fluity.finance',
 'https://nftfy.org',
 'https://wheat.growthdefi.com',
 'https://fishswap.app',
 'https://smoothy.finance',
 'https://www.pureswap.finance',
 'https://berrydata.co/',
 'https://ramenswap.finance',
 'https://soups.finance',
 'https://swirl.cash/mining',
 'https://farm.wsbdapp.com',
 'https://yumcha.finance',
 'https://paintswap.finance',
 'https://piratedice.xyz',
 'https://thegreenhouse.finance',
 'https://polywhale.finance',
 'https://polybull.finance',
 'https://farms.goldenbull.finance',
 'https://app.sirenmarkets.com/stake',
 'https://app.compli.fi',
 'https://indexed.finance',
 'https://popsicle.finance',
 'https://cntr.finance',
 'https://app.cryptex.finance',
 'https://cyclone.xyz/eth',
 'http://stake.kineko.io',
 'https://exchange.dfyn.network',
 'https://pegs.cash',
 'https://ester.finance',
 'https://fuse.io',
 'https://xtoken.cafe/app/dashboard',
 'https://lever.network',
 'https://launchpad.benchmarkprotocol.finance/pools',
 'https://stake.publicmint.com',
 'https://mochi.market',
 'https://www.sharedstake.org/earn',
 'https://www.dollarprotocol.com/#/stake',
 'https://app.xsigma.fi',
 'https://abracadabra.money',
 'https://app.truefi.io/farm',
 'https://farm.umbria.network',
 'https://incentives.epns.io',
 'https://wasabix.finance/#/app/pool',
 'https://wild.credit',
 'https://app.wolvesofwallstreet.finance',
 'https://yaxis.io/farms',
 'https://fei.money',
 'https://www.theghost.finance',
 'https://tomb.finance',
 'https://polygon.iron.finance',
 'https://bsc.lever.network/Staking',
 'https://gravityfinance.io/app/#farms',
 'https://mith.cash',
 'https://www.mai.finance',
 'https://stacker.vc',
 'https://penguinswap.eth.link']

In [36]:
pair_df[pair_df['pair1'] == 'ETH']

,pair1,pair2,tvl,apr,network,apy,dex
1886,ETH,,1065.21,108.07,FATOM,194.204015,https://ftm.borgswap.exchange
1887,ETH,,175.06,556.41,FATOM,24916.388851,https://thegreenhouse.finance
1888,ETH,,6.37,77847.71,BSC,1037842848943826568478985412663639458915456380...,https://wantanmee.finance
1889,ETH,,520768.24,28.23,BSC,32.603182,https://koaladefi.finance/
1890,ETH,,167226.10,46.56,BSC,59.24971,https://app.hyruleswap.com
...,...,...,...,...,...,...,...
2327,ETH,xKNCa,7245.58,0.00,ETH,0.0,https://xtoken.cafe/app/dashboard
2328,ETH,xKNCb,7218.95,0.00,ETH,0.0,https://xtoken.cafe/app/dashboard
2329,ETH,xSUSHI,"40,446,441.00",19.31,ETH,21.294215,SUSHI
2330,ETH,yvBOOST,"22,005,820.00",50.71,ETH,65.988457,SUSHI
2331,ETH,zLOT,"54,701.00",40.80,ETH,50.346454,SUSHI

In [37]:
pair_df['apr'].unique().tolist()

['95.76',
 93.33554098784225,
 '84.77',
 '0',
 '345.67',
 '291.04',
 '0.00',
 '29.46',
 '17.91',
 '57.79',
 '76.66',
 '85.81',
 '568.48',
 '340.14',
 '560.05',
 '166350.20',
 '30.54',
 '43.8',
 '92',
 '12.95',
 33.92691860569297,
 '32.85',
 '104.34',
 '209.36',
 '85.01',
 '112.78',
 '1,335.95',
 '200.06',
 '392.75',
 '517.04',
 '160.27',
 '562.23',
 '518.53',
 '0.31',
 '37.94',
 '36.49',
 '26.31',
 '178.68',
 '155.71',
 '29.12',
 '106.17',
 '343.82',
 '52.13',
 '22.36',
 '184.18',
 '112.54',
 '3.48',
 '80.31',
 '332.97',
 '117.66',
 '199.03',
 '105.83',
 '100.57',
 '231.19',
 '553.52',
 '46.18',
 '173.50',
 '79.55',
 '49.04',
 '507.18',
 '153.72',
 '265.80',
 '309.88',
 '261.58',
 '167.15',
 '70.76',
 79.83790879433461,
 108.34099093708815,
 211.02107301560204,
 '90.88',
 '115.67',
 '61.22',
 '76.65',
 '40.24',
 '232.04',
 97.58618487063264,
 '61.02',
 '245.98',
 97.20710373810203,
 '92.24',
 '98.12',
 '111.21',
 '30.68',
 '287.91',
 '627.58',
 '99.27',
 '537.96',
 '56.02',
 '86.91',
 '68.29',
 '37.82',
 '380.75',
 '96.46',
 '196.51',
 '42.66',
 '330.49',
 '18.77',
 '12.14',
 '18.72',
 '12.29',
 '64.42',
 '198.09',
 '663.71',
 '672.23',
 '708.25',
 '104.41',
 '83.20',
 '683.87',
 '254.84',
 '177.04',
 '132.81',
 '820.05',
 '71.75',
 '1703.67',
 '1143.26',
 '108.07',
 '241.95',
 '39.25',
 '132.24',
 '49.82',
 '98.36',
 '29.26',
 '281.67',
 '368.20',
 '98.55',
 '1071.18',
 '157.70',
 '38.36',
 '69.00',
 '1663.47',
 '64.03',
 '24.43',
 '40.62',
 '561.56',
 '372.96',
 '94.77',
 '22.82',
 '86.43',
 '131.74',
 '42.07',
 '89.25',
 '429.70',
 '6.51',
 '3813',
 '3.02',
 109.01868103543954,
 90.12722499146474,
 '68.60',
 '161.31',
 '935.31',
 '873.85',
 '31.58',
 '168.80',
 '17.04',
 '213.66',
 '442.88',
 '607.03',
 '808.66',
 '20.04',
 '27.47',
 '51.72',
 '137.63',
 '215.01',
 '216.41',
 '94.38',
 '124.06',
 '92.11',
 '82.10',
 '81.77',
 '22.04',
 '69.72',
 '132.59',
 '862.11',
 '246.33',
 '856.06',
 '8554.10',
 '7633.05',
 '726.08',
 '773.34',
 '439.25',
 '133.13',
 '162.30',
 '2007.00',
 '2101.28',
 '140.95',
 '156.50',
 '102.65',
 '669.19',
 '50.19',
 '1711.93',
 '2122.57',
 '1739.91',
 '2729.25',
 '427.07',
 '155.85',
 '15.49',
 '328.97',
 '172.54',
 '727.98',
 '29.72',
 '83.78',
 '1227.68',
 '39.75',
 '527',
 '3670.70',
 '368.06',
 '132.02',
 '430.94',
 '455.67',
 '467.97',
 '563.64',
 '250.15',
 '121.07',
 '286.00',
 '157.68',
 '72.81',
 '1154.63',
 '794.36',
 '152.26',
 '110.73',
 '459.37',
 '712.17',
 '236.78',
 '101.40',
 '30.66',
 '35.40',
 '33.08',
 '49.41',
 '1015.51',
 '142.92',
 '166.03',
 '519.96',
 '109.40',
 '97.88',
 '183',
 '172.45',
 '30.57',
 '181.76',
 '318.68',
 '118.10',
 '104.79',
 '166.30',
 '412.51',
 '30.79',
 '195.66',
 '292.45',
 '319.70',
 '92.95',
 '33.51',
 '219.04',
 '30.20',
 '66.00',
 '339.68',
 '37.08',
 '61.60',
 '87.92',
 '60.72',
 '63.37',
 '30.64',
 '21.44',
 '44.17',
 '35.61',
 '33.65',
 '26.84',
 '9.92',
 '60.18',
 '33.37',
 '89.76',
 '30.76',
 '201.99',
 '36.39',
 '73.35',
 '92.62',
 '4.79',
 '95.40',
 '101.31',
 '90.26',
 '25.04',
 '17.34',
 '76.86',
 '155.51',
 131.60907125993106,
 112.6664895144407,
 '187.52',
 '4717.56',
 '4682.37',
 104.52979785143957,
 '16.04',
 '27.94',
 '17.20',
 '125.69',
 '272.95',
 '478.44',
 '490.98',
 '48.70',
 '1130.55',
 '130.06',
 '1066.03',
 '553.61',
 '861.07',
 '805.98',
 '196.87',
 '539.47',
 '87.91',
 '55.82',
 '244.59',
 '362.66',
 '10.45',
 '41.34',
 '276.66',
 '222.64',
 '351.45',
 '9.57',
 '430.98',
 '329.67',
 '63.02',
 '13.17',
 '32.63',
 '50.16',
 '69.81',
 '200.04',
 '218.34',
 '73.68',
 '52.65',
 '168.35',
 '734.45',
 '696.40',
 '46.47',
 '18.84',
 '30.97',
 '8636.73',
 '66756.97',
 '101.02',
 '20.41',
 '598.14',
 '60083983518.52',
 '978.73',
 '1270.36',
 '1130.15',
 '1536.32',
 '1345.97',
 '3008.48',
 '701.49',
 '562.56',
 '111.42',
 '169.33',
 '101942.03',
 '151.63',
 '254.44',
 '97.78',
 '192.75',
 '95.38',
 '108.18',
 '110.01',
 '102.27',
 '3922.05',
 '208.19',
 210.7754616518526,
 233.471298141254,
 '120.25',
 '40.49',
 '494.38',
 '44.94',
 '47.83',
 '1.31',
 '48.52',
 '44.42',
 '69.20',
 '170.21',
 '322.80',
 '71.63',
 '76.94',
 '28.31',
 '143.97',
 '73.88',
 '42.85',
 '180.35',
 '278.79',
 '38.62',
 '156.34',
 '20.38',
 '6.20',
 '74.84',
 '384.88',
 '58.35',
 '16.94',
 '292.68',
 '87.01',
 '136.94',
 '74.49',
 '130.67',
 '102.07',
 '102.60',
 '209.30',
 '86.69',
 '31.81',
 '1439.43',
 '58.59',
 '82.45',
 '17.37',
 '74.54',
 '67.37',
 '394.84',
 '121.79',
 '35.66',
 '365.15',
 '413.64',
 '293.24',
 '55.07',
 '16.48',
 '462.37',
 '67.35',
 '233.77',
 '96.23',
 '52.57',
 '150.27',
 '56.49',
 '1080.65',
 '313.92',
 '266.15',
 '270.10',
 '158.43',
 '227.04',
 '52.31',
 '94.33',
 '246.65',
 '194.45',
 '47.97',
 '75.73',
 '31.00',
 '88.63',
 '66.93',
 '246.47',
 '624.20',
 '149.81',
 '177.34',
 '489.33',
 '181.34',
 '3088.65',
 '200.36',
 '1052.05',
 '92.04',
 '148.67',
 '127.74',
 '130.15',
 '19.60',
 '76.50',
 '81.70',
 '63.74',
 '27.88',
 '254.55',
 '472.42',
 '792.97',
 '230.46',
 '19.86',
 '52.51',
 '65.83',
 '79.56',
 '108.82',
 '45.24',
 '43.06',
 '115.58',
 '226.76',
 '58.10',
 '992.20',
 '118.66',
 '339.00',
 '70.48',
 '88.57',
 '192.22',
 '204.48',
 '115.35',
 '260.87',
 '144.33',
 '306.88',
 '38.71',
 '412.11',
 '82.56',
 '750.80',
 '175.91',
 '253.53',
 '371.35',
 '90.73',
 '152.54',
 '113.70',
 '79.20',
 '183.83',
 '96.22',
 '256.80',
 '234.74',
 '163.31',
 '269.90',
 '59.21',
 '238.02',
 '39.44',
 '203.80',
 '195.82',
 '218.78',
 '300.36',
 '1140.11',
 '384.82',
 '189.61',
 '96.37',
 '377.94',
 '125.64',
 '47.25',
 '85.55',
 '107.83',
 '108.09',
 '93.45',
 '92.67',
 '65.42',
 '92.69',
 '243.14',
 '249.60',
 '33.07',
 '246.83',
 '101.64',
 '239.69',
 '47.19',
 '124.55',
 '59.01',
 '648.08',
 '114.88',
 '9.55',
 '250.92',
 '830.53',
 '184.12',
 '33.78',
 '87.89',
 '75.95',
 '53.73',
 '241.94',
 '1665.53',
 '527.27',
 '6.23',
 '46.00',
 '217.64',
 '255.20',
 '179.26',
 '176.74',
 '259.92',
 '469.49',
 '60.68',
 '127.20',
 '106.87',
 '78.60',
 '269.83',
 '57.61',
 '31.21',
 '320.73',
 '65.53',
 '24.78',
 '220.66',
 '42.47',
 '145.23',
 '103.52',
 '58.26',
 '72.83',
 '131.34',
 '115.06',
 '765.73',
 '404.92',
 '305.59',
 '74.90',
 '157.16',
 '154.22',
 '190.23',
 '20.61',
 '423.61',
 '234.33',
 '32.93',
 '925.82',
 '197.32',
 '367.59',
 '12.11',
 '52.82',
 '551.90',
 '121.96',
 '32.01',
 '211.11',
 '561.77',
 '350.48',
 '46.70',
 '143.84',
 '2.51',
 '326.44',
 '78.64',
 '1327.26',
 '86.48',
 '1006.68',
 '271.96',
 '279.66',
 '374.54',
 '44.49',
 '121.52',
 '99.62',
 '44.63',
 '204.45',
 '168.12',
 '175.41',
 '6.81',
 '45.10',
 '76.14',
 '64.56',
 '172.63',
 '22.88',
 '66.74',
 '170.16',
 '587.99',
 '100.14',
 '483.93',
 '243.18',
 '81.56',
 '244.60',
 '103.98',
 '60.08',
 '118.65',
 '213.94',
 '404.78',
 '238.18',
 '502.68',
 '169.31',
 '211.98',
 '23.92',
 '570.30',
 '1071.44',
 '132.46',
 '209.84',
 '536.62',
 '703.86',
 '3892.92',
 '210.36',
 '19.95',
 '412.15',
 '217.17',
 '41.13',
 '41.31',
 '74.00',
 '238.19',
 '246.67',
 '418.24',
 '45.89',
 '58.06',
 '106.47',
 '77.51',
 '404.24',
 '56.53',
 '60.16',
 '38.52',
 '146.77',
 '56.61',
 '251.79',
 '45.34',
 '248.06',
 '120.26',
 '18.03',
 '287.25',
 '23.50',
 '80.77',
 '748.57',
 '1431.82',
 '190.66',
 '219.41',
 '436.06',
 '81.69',
 '238.03',
 '1157.10',
 '2897.31',
 '18.90',
 '348.83',
 '336.45',
 '4641.21',
 '201.21',
 '257.48',
 '351.58',
 '239.65',
 '72.12',
 '65.10',
 '205.12',
 '240.76',
 '2027.91',
 '226.44',
 '34.62',
 '12.25',
 '187.77',
 '12.67',
 '280.87',
 '648.27',
 '117.08',
 '30.46',
 '200.71',
 '410.29',
 '749.17',
 '217.86',
 '464.31',
 '178.35',
 '406.04',
 '561.92',
 '296.80',
 '241.36',
 '128.35',
 '169.16',
 '671.46',
 81.1831716345689,
 '49.47',
 '923.90',
 '1462.85',
 '324.52',
 '79.60',
 '34.39',
 '133.12',
 '120.79',
 '166.58',
 '377.66',
 '98.89',
 '382.99',
 '625.71',
 '204.53',
 '226.97',
 '120.73',
 '28.39',
 '234.05',
 '31.51',
 '567.95',
 '214.53',
 '126.23',
 '394.56',
 '40.11',
 '94.65',
 '223.82',
 '304.33',
 '126.31',
 '126.87',
 '9.11',
 '263.28',
 '5715.50',
 '476.62',
 '246.71',
 '325.29',
 '334.36',
 '360.82',
 '261.14',
 '47.10',
 '225.68',
 '176.95',
 '76.36',
 '234.53',
 '139.76',
 '1654.39',
 '172.69',
 '20.71',
 '420.05',
 '434.05',
 '238.16',
 '372.91',
 '143.41',
 '314.02',
 '130.49',
 '131.83',
 '174.90',
 '14.40',
 '103.26',
 '252.43',
 '236.95',
 '215.29',
 '1875.88',
 '21.11',
 '105.33',
 '52.80',
 '70.89',
 '0.58',
 '317.19',
 '51.71',
 '41.82',
 '1.57',
 '517.75',
 '221.50',
 '163.47',
 '399.83',
 '63.05',
 '18.54',
 '118.26',
 '275.20',
 '238.93',
 '275.26',
 '81.31',
 '58.97',
 '33.31',
 '138.74',
 '63.46',
 '329.58',
 '481.72',
 '90.08',
 '119.16',
 '3.26',
 '208.55',
 '43.61',
 '285.71',
 '328.67',
 '451.41',
 '28.15',
 '65.93',
 '93.62',
 '15.19',
 '168.72',
 '224.08',
 '90.94',
 '71.34',
 '74.36',
 '2025.00',
 '327.96',
 '73.27',
 '12.70',
 '103.04',
 '43.48',
 '195.05',
 '191.36',
 '210.82',
 '114.13',
 '114.57',
 '44.19',
 '136.69',
 '61.68',
 '297.37',
 '970.25',
 '364.91',
 '209.09',
 '24.77',
 '408.60',
 '60.73',
 '123.58',
 '132.32',
 '144.90',
 '225.83',
 '243.43',
 '181.45',
 '18.53',
 '39.62',
 '165.56',
 '75.37',
 '112.96',
 '111.02',
 '60.91',
 '118.36',
 '281.61',
 '100.01',
 '89.20',
 '66.40',
 '219.55',
 '194.47',
 '277.72',
 '785.91',
 '130.66',
 '645.56',
 '555.26',
 '1878.63',
 '249.04',
 '181.22',
 '194.88',
 '187.11',
 '110.55',
 '87.28',
 '129.65',
 '42.17',
 '16.51',
 '120.37',
 '70.87',
 '108.42',
 '112.97',
 '2.35',
 '16.67',
 '6.54',
 '52.58',
 '103.85',
 '1409.21',
 '132.07',
 '35.18',
 '200.00',
 '214.51',
 '172.61',
 '194.49',
 '107.54',
 '13.68',
 '352.99',
 '134.22',
 '56.11',
 '16.47',
 '248.95',
 '220.90',
 '439.39',
 '35.46',
 '85.07',
 '11.43',
 '35.38',
 '298.06',
 '427.56',
 '3951.22',
 '460.42',
 '476.01',
 '278.81',
 '103.16',
 '97.52',
 '344.38',
 '295.19',
 '256.79',
 '189.54',
 '188.24',
 '210.09',
 '42.78',
 '223.49',
 '176.69',
 '40.82',
 '467.42',
 '98.18',
 '22.95',
 '95.16',
 '20.88',
 '270.27',
 '80.18',
 '165.83',
 '43.44',
 '140.57',
 '129.60',
 '959.55',
 '1230.17',
 '926.09',
 '157.27',
 '213.99',
 '318.05',
 '108.73',
 '1605.19',
 '1037.24',
 '158.42',
 '911.35',
 '572.04',
 '353.55',
 '666.03',
 '173.22',
 '63.07',
 '48.01',
 '62.23',
 '340.10',
 '284.85',
 '355.03',
 '1888.22',
 '618.69',
 '2215.54',
 '683.19',
 '212809.61',
 '21.29',
 '155.33',
 '151.97',
 '21.00',
 85.11417760451701,
 '117.69',
 '173.58',
 '534.32',
 '209.17',
 '1385.76',
 '1986.27',
 '6.85',
 '1388.68',
 '2334.93',
 '177.89',
 '461.99',
 '158.15',
 '220.21',
 '439.75',
 '1421.19',
 '114.05',
 '1243.09',
 '29.71',
 '629.51',
 '175.64',
 '62.63',
 '52.95',
 '152.17',
 '285.63',
 '275.95',
 '102.23',
 '10128.37',
 '560.78',
 '15.16',
 '61.31',
 '19.35',
 '82',
 '31.92',
 21.960309158754132,
 '116.2',
 '25.55',
 '21.9',
 '64',
 '12.21',
 '908.98',
 '230.79',
 '71.09',
 '212.32',
 '179.65',
 88.06875216763277,
 ...]

In [38]:
pair_df

,pair1,pair2,tvl,apr,network,apy,dex
0,$DG,ETH,738323.48,95.76,MATIC,160.217083,https://quickswap.exchange/#/quick
1,$DG,QUICK,316608,93.335541,MATIC,154,Quickswap
2,$DG,UICK,308739.68,84.77,MATIC,133.197872,https://quickswap.exchange/#/quick
3,1INCH,,0.00,0,BSC,0.0,https://caramelswap.finance
4,1INCH,BNB,1989.49,345.67,BSC,3020.050963,https://icecreamswap.finance
...,...,...,...,...,...,...,...
5131,yumcha,,0.00,0,BSC,0.0,https://yumcha.finance
5132,yumcha,USD,58290.00,863.91,BSC,510640.49136,https://yumcha.finance
5133,yvBOOST,ETH,"22,005,820.00",50.71,ETH,65.988457,SUSHI
5134,zLOT,ETH,"54,701.00",40.80,ETH,50.346454,SUSHI
5135,zTears,SPIRIT,43240.61,249.17,FATOM,1097.994043,https://app.spiritswap.finance