In [1]:
import requests
import json
import pandas as pd
import numpy as np
import pymysql
import traceback2
from datetime import datetime

In [2]:
url = 'https://explore.duneanalytics.com/api/dashboards/defi-users-over-time'

In [14]:
headers = {'cookie' : 'csrf=k-q3sHfJxgTeA70fbo6zYMcMbpoM_G-kBaeNyeD6vos; auth-refresh=eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.YS-de7eZS2KmPxnmS9LZS3RBjioTKk8-HscM2Wf7MJrDc9gcYi-LMLTUZBohlFcMGn6gVgdrjudlf46WnTlLQ4XxEQuWiSjapHrObJwTvDC8v9EwUMzQ4KZF5oJFiQKHm4kmK1DXboatkTjER8zkhXiNq795FxBlQgUMjocMVw2Cc-f0CFYHUhlJ2S27dUluXK0i3IG8sSz4ouG2yw6kY3N0H88YBIlZEKbzRIY-4f4eusDX6kxy0lNrfYK34Wq93dy--Gj9egHDV4-oVfAjs6yFIC_YzUFQJS43781Zsoasq-UUDqirJZsSVnw60j5eFHbkLAVbb4rEhXlb1rqchw.MDAwlxuSsfr2g2DH.oFLRVvaaxqBy2Yu4oXJ68Yb-cEh77IlaYi5C_sFMTdVWUH8Z70BjD_OwO5gTGkdDwb-FAq9QOkOPD65tGq-1dn1cmw1ypz_i4Bzer1q5rFXbCVuzuOXT63_eKUt9OtBufXPThWtAioeFGWojlb3xx6xJSpfytdQovRIRUqCrSJ-80WMZYQ324yMrTt4oMeJbeGfcy5X9-_5-nhMBicpsDudKqCkvkJk6ldUneIjoEOCeZnwW2Dtr9kYtDRewNlQG3-B2E2LwwVsm-T8fFKxRp0C5vOW_EzaarJnWV6bfFCFTxf1oNQkD3pLm_vX4RjIsaR4EoLcoyxnW-P7q5si25ve1C2a-JXOB3E62ECCnb5ORmb6bLuV2NuL_uIjeEvMsVHfa3iSo9tnQ3OB05iFiL2gyOJ914LPPKAhOmUMDesT7dz3WL3qP86yVIE8I46PvIuSDIPDKoCwpUL3XzoJa0fKT4qdi_fOaekK-OdlkJTbga2-ukobJGEmlNAx1-uG_9iGp1aiRbEW55dmlkhL7bwXUNmurjVWx8ytTnTInD7T7EsJTUh4ZDUwvuu84sa-2gqsRvA5bbnrcGkAn_oq4GNosJZW7bpmmbEUHZPXp8cUT4T5ddb-nc1obggtM2FFJroCcqPa0peNa_VYxhGnbfDGn12HbMzNkTXXSgqpy0yo8NfuYnPKTqB5aS9ZOfSThCxZVdkJ3zODHVy4UOUVJ2l47XrZ6Ijp8AUy4r9eGQEc3KElCMaktAgwzbZNBzUv4B6Wl_IWlMSJ_0tkMuSaEmt13SBDdk4zAQ5TCza8A6EDO_ZQ8djsdxicXNDahhQl_gXbKSjXNA8mE5APUkFh6Mrx4LkHbhSaKztOrQl1KnLxJb_cuJ0dRbw6ixJOvPWCZ8xrUSSgB2-pZ1oSCvjYqoznJDxDytkZq8-i8-5u4GZKvZWIxoZz7i5voI76OG5Z5By84Dq0S0g30aMfsdTGON3yhszSg0R9huhw_LmcNMiD0387RIBx-N-24iWqv_MBL4ZSZGNG7m4ZlwPMcEP6lPkvnqXeIl2IT5Oa6Iag0AA77UTRjJeP6OzyHsvYiZ_ZrWdkALDH-ieU76WcS5gj9prKgTbYE6ccJDov_7OS6GpWxwEaQkvTGJPAx73YvesMdNMqDeGFR6NV9oDspaDq2c6FBcyV5DPef85zJS6HqOFsOXlCJSa7v249ikfHZrG-haIyz-okfPGJbZnrhQHQtD4FprpureGBnDGn4Zln6XdTX42ReTTiFp7w3MwNaxE35PmQ.EzHv6bzGem3MjzkMl4h00Q; auth-user=iDefi'}

In [15]:
data = requests.get(url, headers = headers)
print(data)

<Response [200]>

In [16]:
response = data.json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [15]:
widgets = response['widgets']

In [17]:
widget = widgets[0]
for key in widget:
    print(key)

visualization
text
created_at
updated_at
options
dashboard_id
width
id

In [23]:
widget['visualization']['query']['latest_query_data_id']

4267030

In [21]:
widget['visualization']['query']['name']

'Total 1inch users over time'

In [32]:
query_name_last_updated_id = []
for widget in widgets:
    query_name_last_updated_id.append([widget['visualization']['query']['name'],  widget['visualization']['query']['latest_query_data_id'], widget['visualization']['query']['id']])

In [33]:
query_name_last_updated_id

[['Total 1inch users over time', 4267030, 2999],
 ['Total PoolTogether users over time', 4161707, 4170],
 ['Total Kyber users over time', 4263532, 2997],
 ['Total Hegic users over time', 4156521, 13349],
 ['Total KeeperDAO users over time', 4221605, 18467],
 ['Total BadgerDAO users over time', 4221150, 18461],
 ['Total Ren users over time', 4157296, 8492],
 ['Total Curve users over time', 4263488, 4177],
 ['Total 0x users over time', 4267023, 2998],
 ['Total MakerDAO users over time', 4267024, 2951],
 ['Total Set Protocol users over time', 4219113, 4173],
 ['Total Aave users over time', 4214188, 2994],
 ['Total SushiSwap users over time', 4267019, 11519],
 ['Total Cream users over time', 4111814, 11521],
 ['Total Bancor users over time', 4263451, 11523],
 ['Total dYdX users over time', 4267029, 2873],
 ['Total Harvest Finance users over time', 4121241, 13352],
 ['Total Balancer users over time', 4263411, 4171],
 ['Total yearn.finance users over time', 4115794, 7176],
 ['Total Augur users over time', 4156520, 2949],
 ['Total InstaDApp users over time', 4016217, 2995],
 ['Total DeFi users over time', 4241442, 2972],
 ['Total Nexus Mutual users over time', 4156523, 2964],
 ['Total Uniswap users over time', 4267050, 2740],
 ['Total Compound users over time', 4267041, 1010],
 ['Total Synthetix users over time', 4267038, 2961]]

In [52]:
def get_df(data, query_name, query_id):
    data = data['query_result']['data']['rows']
    df = pd.DataFrame(data)
    if df.empty:
        return df
    df.columns = ['date', 'total_users']
    df['query_name'] = query_name
    df['query_id'] = query_id
    return df

In [53]:
url = 'https://explore.duneanalytics.com/api/query_results/'
users_metrics_df = pd.DataFrame
for query in query_name_last_updated_id:
    latest_query_data_id = query[1]
    query_name = query[0]
    query_id = query[2]
    print(query)
    id_url = f"{url}{latest_query_data_id}"
    query_data = requests.get(id_url, headers = headers).json()
    df = get_df(query_data, query_name, query_id)
    if users_metrics_df.empty:
        users_metrics_df = df
    else:
        users_metrics_df = users_metrics_df.append(df)

['Total 1inch users over time', 4267030, 2999]
['Total PoolTogether users over time', 4161707, 4170]
['Total Kyber users over time', 4263532, 2997]
['Total Hegic users over time', 4156521, 13349]
['Total KeeperDAO users over time', 4221605, 18467]
['Total BadgerDAO users over time', 4221150, 18461]
['Total Ren users over time', 4157296, 8492]
['Total Curve users over time', 4263488, 4177]
['Total 0x users over time', 4267023, 2998]
['Total MakerDAO users over time', 4267024, 2951]
['Total Set Protocol users over time', 4219113, 4173]
['Total Aave users over time', 4214188, 2994]
['Total SushiSwap users over time', 4267019, 11519]
['Total Cream users over time', 4111814, 11521]
['Total Bancor users over time', 4263451, 11523]
['Total dYdX users over time', 4267029, 2873]
['Total Harvest Finance users over time', 4121241, 13352]
['Total Balancer users over time', 4263411, 4171]
['Total yearn.finance users over time', 4115794, 7176]
['Total Augur users over time', 4156520, 2949]
['Total InstaDApp users over time', 4016217, 2995]
['Total DeFi users over time', 4241442, 2972]
['Total Nexus Mutual users over time', 4156523, 2964]
['Total Uniswap users over time', 4267050, 2740]
['Total Compound users over time', 4267041, 1010]
['Total Synthetix users over time', 4267038, 2961]

In [55]:
users_metrics_df.query_id.unique()

array([ 2999,  4170,  2997, 13349, 18467, 18461,  8492,  4177,  2951,
        4173,  2994, 11519, 11521, 11523,  2873, 13352,  4171,  7176,
        2949,  2995,  2972,  2964,  2740,  1010,  2961])

In [56]:
users_metrics_df.to_csv('dune_analytics_user_metrics.csv')

In [58]:
users_metrics_df['date'] = pd.to_datetime(users_metrics_df['date'])

In [59]:
users_metrics_df

,date,total_users,query_name,query_id
0,2019-06-03 00:00:00+00:00,1,Total 1inch users over time,2999
1,2019-06-04 00:00:00+00:00,5,Total 1inch users over time,2999
2,2019-06-07 00:00:00+00:00,13,Total 1inch users over time,2999
3,2019-06-08 00:00:00+00:00,14,Total 1inch users over time,2999
4,2019-06-09 00:00:00+00:00,18,Total 1inch users over time,2999
...,...,...,...,...
832,2021-02-25 00:00:00+00:00,15821,Total Synthetix users over time,2961
833,2021-02-26 00:00:00+00:00,15850,Total Synthetix users over time,2961
834,2021-02-27 00:00:00+00:00,15877,Total Synthetix users over time,2961
835,2021-02-28 00:00:00+00:00,15914,Total Synthetix users over time,2961
836,2021-03-01 00:00:00+00:00,15938,Total Synthetix users over time,2961