### https://trello.com/c/xjAkL36o/54-merge-manual-raydium-and-pancakeswap-into-yield-report

In [10]:
import requests
import pandas as pd
import pymysql
import numpy as np
from datetime import datetime
import traceback2


stable_coins = "USDT, USDC, DAI, BUSD, SUSD, UST, TUSD".split(",")

In [9]:
def __connect__():
    db_user = 'coin'
    db_password = 'dragonstone#123'
    db_name = 'master_data'
    db_host = 'localhost'
    return pymysql.connect(
        unix_socket=None,
        host=db_host,
        user=db_user,
        password=db_password,
        db=db_name,
        charset='latin1',
        cursorclass=pymysql.cursors.DictCursor)


def get_cursor(connection):
    if connection is None:
        connection = __connect__()
    connection.ping(reconnect=True)
    return connection.cursor()

In [19]:
pancakswap_df = pd.read_csv('PancakeSwap_manual.csv')
raydium_df = pd.read_csv('Raydium_manual.csv')
pancakswap_df['includes_stablecoin'] = (pancakswap_df['Pair_1'].isin(stable_coins)) | (pancakswap_df['Pair_2'].isin(stable_coins))
raydium_df['includes_stablecoin'] = (raydium_df['Pair_1'].isin(stable_coins)) | (raydium_df['Pair_2'].isin(stable_coins))
pancakswap_df['Date'] = pd.to_datetime(pancakswap_df['Date'])
raydium_df['Date'] = pd.to_datetime(raydium_df['Date'])

In [20]:
raydium_df

,Date,Pair_1,Pair_2,Where,Farm_payment,Pool_rate,includes_stablecoin
0,2021-05-03,RAY,USDT,Raydium,RAY,190.37,True
1,2021-05-03,RAY,USDC,Raydium,RAY,176.53,False
2,2021-05-03,RAY,SRM,Raydium,RAY,116.91,False
3,2021-05-03,RAY,SOL,Raydium,RAY,88.81,False
4,2021-05-03,RAY,ETH,Raydium,RAY,121.54,False
5,2021-05-03,FIDA,RAY,Raydium,FIDA-RAY,119.89,False
6,2021-05-03,OXY,RAY,Raydium,OXY-RAY,98.18,False
7,2021-05-03,MAPS,RAY,Raydium,MAPS-RAY,114.11,False
8,2021-05-03,KIN,RAY,Raydium,KIN-RAY,185.63,False
9,2021-05-03,COPE,USDC,Raydium,COPE,548.96,False
10,2021-05-03,STEP,USDC,Raydium,STEP,1410.22,False
11,2021-05-03,MEDIA,USDC,Raydium,MEDIA,417.02,False

In [35]:
insert_raydium_data_df(raydium_df)
insert_pancakswap_data_df(pancakswap_df)

2021-05-03 00:00:00 RAY USDT 190.37 RAY Raydium True
2021-05-03 00:00:00 RAY USDC 176.53 RAY Raydium False
2021-05-03 00:00:00 RAY SRM 116.91 RAY Raydium False
2021-05-03 00:00:00 RAY SOL 88.81 RAY Raydium False
2021-05-03 00:00:00 RAY ETH 121.54 RAY Raydium False
2021-05-03 00:00:00 FIDA RAY 119.89 FIDA-RAY Raydium False
2021-05-03 00:00:00 OXY RAY 98.18 OXY-RAY Raydium False
2021-05-03 00:00:00 MAPS RAY 114.11 MAPS-RAY Raydium False
2021-05-03 00:00:00 KIN RAY 185.63 KIN-RAY Raydium False
2021-05-03 00:00:00 COPE USDC 548.96 COPE Raydium False
2021-05-03 00:00:00 STEP USDC 1410.22 STEP Raydium False
2021-05-03 00:00:00 MEDIA USDC 417.02 MEDIA Raydium False
2021-05-03 00:00:00 CAKE BNB 74.33 1718847 CAKE PancakeSwap False
2021-05-03 00:00:00 BUSD BNB 25.61 997816 CAKE PancakeSwap False
2021-05-03 00:00:00 ETH BNB 12.04 529096265 CAKE PancakeSwap False
2021-05-03 00:00:00 USDT BUSD 13.49 472049664 CAKE PancakeSwap True
2021-05-03 00:00:00 BTCB BNB 15.13 421808142 CAKE PancakeSwap False
2021-05-03 00:00:00 USDT BNB 18.78 338604357 CAKE PancakeSwap True
2021-05-03 00:00:00 BUNNY BNB 26.66 118972005 CAKE PancakeSwap False
2021-05-03 00:00:00 USDC BUSD 16.59 95709301 CAKE PancakeSwap False
2021-05-03 00:00:00 UNI BNB 33.59 94300563 CAKE PancakeSwap False
2021-05-03 00:00:00 BTCB BUSD 35.05 90762920 CAKE PancakeSwap False
2021-05-03 00:00:00 DAI BUSD 17.81 89146030 CAKE PancakeSwap False
2021-05-03 00:00:00 DOT BNB 35.89 88554086 CAKE PancakeSwap False
2021-05-03 00:00:00 VAI BUSD 18.4 86377401 CAKE PancakeSwap False
2021-05-03 00:00:00 LINK BNB 37.86 84067272 CAKE PancakeSwap False
2021-05-03 00:00:00 XRP BNB 45.77 69524878 CAKE PancakeSwap False
2021-05-03 00:00:00 UST BUSD 23.12 68807199 CAKE PancakeSwap False
2021-05-03 00:00:00 XVS BNB 60.22 52867925 CAKE PancakeSwap False
2021-05-03 00:00:00 ALPHA BNB 62.69 50526237 CAKE PancakeSwap False
2021-05-03 00:00:00 ADA BNB 31.79 49820881 CAKE PancakeSwap False
2021-05-03 00:00:00 TBTC BTCB 76.3 41513892 CAKE PancakeSwap False
2021-05-03 00:00:00 ALPACA BUSD 79.86 39753759 CAKE PancakeSwap False
2021-05-03 00:00:00 COMP ETH 8.05 39508261 CAKE PancakeSwap False
2021-05-03 00:00:00 BAND BNB 81.66 38923370 CAKE PancakeSwap False
2021-05-03 00:00:00 PBTC BNB 84.75 37568791 CAKE PancakeSwap False
2021-05-03 00:00:00 HELMET BNB 43.22 36835143 CAKE PancakeSwap False
2021-05-03 00:00:00 SFP BND 91.42 34826155 CAKE PancakeSwap False
2021-05-03 00:00:00 TKO BNB 98.78 32317331 CAKE PancakeSwap False
2021-05-03 00:00:00 ZIL BNB 105.23 30249830 CAKE PancakeSwap False
2021-05-03 00:00:00 TPT BUSD 108.6 29338153 CAKE PancakeSwap False
2021-05-03 00:00:00 SUSHI ETH 33.67 28386230 CAKE PancakeSwap False
2021-05-03 00:00:00 REEF BNB 112.75 28258296 CAKE PancakeSwap False
2021-05-03 00:00:00 SXP BNB 66.54 23931527 CAKE PancakeSwap False

In [34]:

def insert_pancakswap_data_df(df):
    df = df.astype(object).where(pd.notnull(df), None)
    connection = __connect__()
    cursor = get_cursor(connection)
    for i, row in df.iterrows():
        dt = row["Date"].timestamp()
        try:
            pair2 = row["Pair_2"] if row["Pair_2"] else ' '
            print(row["Date"], row["Pair_1"], pair2, row["Pool_rate"], row["pool_tvl"], row["Farm_payment"], row["Where"], row["includes_stablecoin"])
            sql = "INSERT INTO `pancakswap_farm_data` (`timestamp_dt`, `pair1`,`pair2`,`pool_rate`,`pool_size`,`farm_payment`,`where`,`includes_stablecoin`) VALUES (FROM_UNIXTIME(%s), %s, %s, %s, %s, %s, %s, %s)"
            cursor.execute(sql, (dt, row["Pair_1"], pair2, row["Pool_rate"], row["pool_tvl"], row["Farm_payment"], row["Where"], row["includes_stablecoin"]))
        except Exception as e:
            print(e)
    connection.commit()
    cursor.close()
    connection.close()


def insert_raydium_data_df(df):
    df = df.astype(object).where(pd.notnull(df), None)
    connection = __connect__()
    cursor = get_cursor(connection)
    for i, row in df.iterrows():
        dt = row["Date"].timestamp()
        try:
            pair2 = row["Pair_2"] if row["Pair_2"] else ' '
            print(row["Date"], row["Pair_1"], pair2, row["Pool_rate"], row["Farm_payment"], row["Where"], row["includes_stablecoin"])
            sql = "INSERT INTO `raydium_farm_data` (`timestamp_dt`, `pair1`,`pair2`,`pool_rate`, `farm_payment`,`where`,`includes_stablecoin`) VALUES (FROM_UNIXTIME(%s), %s, %s, %s, %s, %s, %s)"
            cursor.execute(sql, (dt, row["Pair_1"], pair2, row["Pool_rate"], row["Farm_payment"], row["Where"], row["includes_stablecoin"]))
        except Exception as e:
            print(e)
    connection.commit()
    cursor.close()
    connection.close()

In [24]:
pancakswap_df

,Date,Pair_1,Pair_2,Where,Farm_payment,Pool_rate,pool_tvl,includes_stablecoin
0,2021-05-03,CAKE,BNB,PancakeSwap,CAKE,74.33,1718847,False
1,2021-05-03,BUSD,BNB,PancakeSwap,CAKE,25.61,997816,False
2,2021-05-03,ETH,BNB,PancakeSwap,CAKE,12.04,529096265,False
3,2021-05-03,USDT,BUSD,PancakeSwap,CAKE,13.49,472049664,True
4,2021-05-03,BTCB,BNB,PancakeSwap,CAKE,15.13,421808142,False
5,2021-05-03,USDT,BNB,PancakeSwap,CAKE,18.78,338604357,True
6,2021-05-03,BUNNY,BNB,PancakeSwap,CAKE,26.66,118972005,False
7,2021-05-03,USDC,BUSD,PancakeSwap,CAKE,16.59,95709301,False
8,2021-05-03,UNI,BNB,PancakeSwap,CAKE,33.59,94300563,False
9,2021-05-03,BTCB,BUSD,PancakeSwap,CAKE,35.05,90762920,False
10,2021-05-03,DAI,BUSD,PancakeSwap,CAKE,17.81,89146030,False
11,2021-05-03,DOT,BNB,PancakeSwap,CAKE,35.89,88554086,False
12,2021-05-03,VAI,BUSD,PancakeSwap,CAKE,18.40,86377401,False
13,2021-05-03,LINK,BNB,PancakeSwap,CAKE,37.86,84067272,False
14,2021-05-03,XRP,BNB,PancakeSwap,CAKE,45.77,69524878,False
15,2021-05-03,UST,BUSD,PancakeSwap,CAKE,23.12,68807199,False
16,2021-05-03,XVS,BNB,PancakeSwap,CAKE,60.22,52867925,False
17,2021-05-03,ALPHA,BNB,PancakeSwap,CAKE,62.69,50526237,False
18,2021-05-03,ADA,BNB,PancakeSwap,CAKE,31.79,49820881,False
19,2021-05-03,TBTC,BTCB,PancakeSwap,CAKE,76.30,41513892,False
20,2021-05-03,ALPACA,BUSD,PancakeSwap,CAKE,79.86,39753759,False
21,2021-05-03,COMP,ETH,PancakeSwap,CAKE,8.05,39508261,False
22,2021-05-03,BAND,BNB,PancakeSwap,CAKE,81.66,38923370,False
23,2021-05-03,PBTC,BNB,PancakeSwap,CAKE,84.75,37568791,False
24,2021-05-03,HELMET,BNB,PancakeSwap,CAKE,43.22,36835143,False
25,2021-05-03,SFP,BND,PancakeSwap,CAKE,91.42,34826155,False
26,2021-05-03,TKO,BNB,PancakeSwap,CAKE,98.78,32317331,False
27,2021-05-03,ZIL,BNB,PancakeSwap,CAKE,105.23,30249830,False
28,2021-05-03,TPT,BUSD,PancakeSwap,CAKE,108.60,29338153,False
29,2021-05-03,SUSHI,ETH,PancakeSwap,CAKE,33.67,28386230,False
30,2021-05-03,REEF,BNB,PancakeSwap,CAKE,112.75,28258296,False
31,2021-05-03,SXP,BNB,PancakeSwap,CAKE,66.54,23931527,False