In [1]:
import pandas as pd

In [50]:
stable_coins = ['USDT', 'USDC', 'DAI', 'BUSD', 'SUSD']

In [51]:
def get_stable_coin(pair1, pair2):
    if pair1 in stable_coins:
        return pair1
    elif pair2 in stable_coins:
        return pair2
    else:
        return'NA'

SyntaxError: invalid syntax (<ipython-input-51-381c13e5d371>, line 6)

In [8]:
farm_df = pd.read_csv("farming_data_cmc_new.csv", index_col=0)
liquidty_folio_df = pd.read_csv("uniswap_liquidityfolio_data.csv", index_col=0)

In [11]:
farm_df = farm_df[['pair1','pair2','Pool_rate','Pool_size','includes_stablecoin']]

In [15]:
liquidty_folio_df = liquidty_folio_df[['pair1','pair2','includes_stablecoin','Farm payment','Where','Pool_rate']]

In [16]:
liquidty_folio_df

       pair1  pair2  includes_stablecoin  Farm payment    Where  Pool_rate
0        ETH  DELTA                False           NaN  Uniswap   0.804441
1        ETH   USDT                 True           NaN  Uniswap   0.061195
2        ETH   USDC                 True           NaN  Uniswap   0.050654
3        ETH   TEND                False           NaN  Uniswap  90.307024
4        ETH   SHIB                False           NaN  Uniswap   0.367993
..       ...    ...                  ...           ...      ...        ...
846      BPF   USDT                 True           NaN  Uniswap   0.000000
847      BPF   USDC                 True           NaN  Uniswap   0.000000
848      BPF    DAI                 True           NaN  Uniswap   0.000000
849  renDOGE    DAI                 True           NaN  Uniswap   0.000000
850    LEASH   SHIB                False           NaN  Uniswap   0.000000

[851 rows x 6 columns]

In [17]:
farm_df

    pair1 pair2  Pool_rate     Pool_size  includes_stablecoin
0    CAKE   NaN    87.4278  8.090391e+09                False
1    BUSD  WBNB  1433.8209  4.359430e+07                 True
2    CAKE  WBNB  6536.3423  3.586089e+07                False
3     ETH   BNB   804.9839  1.941232e+07                False
4    USDT  BUSD   498.4875  1.567402e+07                 True
..    ...   ...        ...           ...                  ...
109   DAI  PERL   142.0428  8.735024e+04                 True
110   BAL  PERL   113.6272  1.324390e+04                False
111   MIC  USDT     3.4576  7.132710e+05                 True
112   MIS  USDT     4.5064  1.442380e+05                 True
113   SFG   DAI   503.8741  1.485264e+04                 True

[114 rows x 5 columns]

#### will filter out all the pairs from farm amd folio for symbol ETH

In [45]:
defi_symbol = 'ETH'

In [46]:
farm_eth_df = farm_df[(farm_df['pair1'] == defi_symbol) | (farm_df['pair2'] == defi_symbol)]

In [47]:
farm_eth_df

     pair1 pair2  Pool_rate     Pool_size  includes_stablecoin
3      ETH   BNB   804.9839  1.941232e+07                False
22    vETH   ETH     2.2100  1.354394e+09                False
34   SUSHI   ETH    31.1309  6.316462e+08                False
35    USDC   ETH    32.7981  3.585987e+08                 True
36     DAI   ETH    37.4375  3.298071e+08                 True
37    USDT   ETH    37.3737  2.767701e+08                 True
38     YFI   ETH    46.2036  1.791017e+08                False
39    LINK   ETH    31.4037  1.202747e+08                False
40     SNX   ETH    34.4999  6.269602e+07                False
41    SUSD   ETH    39.7990  2.810055e+07                 True
42    COMP   ETH    24.7834  2.462909e+07                False
43     CRV   ETH    20.3639  2.011694e+07                False
44    BAND   ETH    37.7721  1.540074e+07                False
45     UMA   ETH    28.8100  1.421939e+07                False
46     ren   ETH    33.2652  1.231498e+07                False
71     ETH   BNB    46.5400  1.011317e+06                False
84     SFI   ETH    44.6094  3.679173e+06                False
85     SFI   ETH    45.0343  2.986071e+06                False
92     ETH   NaN     1.2978  3.176820e+06                False
101    BEL   ETH   134.0000  1.919372e+06                False

In [48]:
folio_eth_df = liquidty_folio_df[(liquidty_folio_df['pair1'] == defi_symbol) | (liquidty_folio_df['pair2'] == defi_symbol)]

In [49]:
folio_eth_df

    pair1  pair2  includes_stablecoin  Farm payment    Where  Pool_rate
0     ETH  DELTA                False           NaN  Uniswap   0.804441
1     ETH   USDT                 True           NaN  Uniswap   0.061195
2     ETH   USDC                 True           NaN  Uniswap   0.050654
3     ETH   TEND                False           NaN  Uniswap  90.307024
4     ETH   SHIB                False           NaN  Uniswap   0.367993
..    ...    ...                  ...           ...      ...        ...
834   ETH   BLUE                False           NaN  Uniswap   0.000000
836   ETH     DC                False           NaN  Uniswap   0.000000
837   ETH   ZETA                False           NaN  Uniswap   0.000000
839   ETH  CROWN                False           NaN  Uniswap   0.000000
845   ETH   Mars                False           NaN  Uniswap   0.000000

[685 rows x 6 columns]

#### will extract data for 4 different scenario

### 1. [highest stabecoin pool rate, stablecoin symbol, where]