In [1]:
from selenium import webdriver
import time
from bs4 import BeautifulSoup as soup
import pandas as pd
from selenium.webdriver.common.keys import Keys

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
#options.add_argument('--incognito')
#options.add_argument('--headless')
options.add_argument("start-maximized")
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
options.add_argument("--disable-blink-features")
options.add_argument("--disable-blink-features=AutomationControlled")
browser = webdriver.Chrome("chromedriver", options=options)

# IE_path = 'D:\selds\IEDriver\IEDriverServer'
# options = webdriver.IeOptions()
# browser = webdriver.Ie(IE_path, options=options)

In [3]:
def extract_data(page_source):
    df_c =  pd.DataFrame(columns = ['name','earned', 'apr', 'liquidity', 'multiplier'])
    
    page_soup = soup(page_source, "html.parser")
    table = page_soup.findAll("table", {"class": "sc-hRMXGO hbbpxV"})
    #heads = table[0].thead.tr.findAll("th")
    rows =  table[0].tbody.findAll("tr")
    for row in rows: 
        name = row.find_all("div",{'class':"sc-gsDJrp dzNkWZ"})[0].text
        #name
        earned = row.find_all("div",{'class':"sc-DtlDN hEyqHM"})[1].span.text
        #earned
        apr = row.find_all("div",{'class':"sc-dkQkSb gbobMG"})[0].text
        #apr
        liq = row.find_all("div",{'class':"sc-gsDJrp dA-dcWX"})[0].text
        #liq
        mul = row.find_all("div",{'class':"sc-iWBMBB euqxbA"})[0].text
        #mul
        #print(f'{name} {earned} {apr} {liq} {mul}')
        df_c.at[len(df_c)] = [name,earned,apr,liq,mul]
    return df_c

In [4]:
time.sleep(5)
browser.get("https://pancakeswap.finance/farms")
prev_len = 0
curr_len = 100
count = 0
while count<5:
    print(curr_len)
    time.sleep(3)
    page_source = browser.page_source
    #df = extract_data(page_source)
    time.sleep(3)
    #print(df)
    body = browser.find_element_by_css_selector('body')
    body.send_keys(Keys.PAGE_DOWN)
    time.sleep(1)
    body.send_keys(Keys.PAGE_DOWN)
    curr_len = len(page_source)
    if curr_len == prev_len:
        count = count+1
    else:
        count = 0
    prev_len = curr_len

100
128104
128498
183047
237587
292154
346605
401164
455724
456082
510638
565173
597080
597080
597080
597080
597080
597089
597089
597089
597089
597089

In [5]:
page_source = browser.page_source
df = extract_data(page_source)
df

          name earned      apr       liquidity multiplier
0     CAKE-BNB      0   73.96%  $1,674,774,376        40x
1     BUSD-BNB      0   25.58%    $968,341,102         8x
2    BTCB-BUSD      0    23.6%    $131,222,704         1x
3      LMT-BNB      0  274.17%     $11,294,130         1x
4     DFD-BUSD      0  263.81%     $11,737,440         1x
..         ...    ...      ...             ...        ...
110   LINK-BNB      0   36.02%     $85,970,068         1x
111    EOS-BNB      0   31.03%      $9,980,204       0.1x
112    DOT-BNB      0   32.83%     $94,313,615         1x
113   BAND-BNB      0   74.89%     $41,344,977         1x
114    ADA-BNB      0   32.73%     $47,302,707       0.5x

[115 rows x 5 columns]

In [6]:
df.to_csv('Pancakeswap_Farms.csv',index=None)

In [7]:
browser.close()